.header {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  padding: var(--px-16) var(--px-24);
  border-bottom: 1px solid var(--platinum-gray);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--px-32);

  transition: 0.3s ease;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--px-8);

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    padding: var(--px-8) var(--px-16);
    border-radius: var(--px-8);

    > img {
      width: var(--px-48);
    }

    > h1 {
      font-size: var(--fs-6);
      font-weight: 600;
      color: var(--signal-orange);

      span {
        color: var(--platinum-gray);
      }
    }
  }

  .menuButton {
    aspect-ratio: 1/1;
    font-size: var(--fs-10);
    padding: var(--px-8);

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    padding: var(--px-8) var(--px-16);
    border-radius: var(--px-8);

    cursor: pointer;
  }
  .menuButton:hover {
    background-color: var(--signal-orange);
  }
  .menuButton:active {
    transform: scale(0.7);
  }

  .profile {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--px-24);

    padding: var(--px-32) var(--px-16);
    border-top: 1px solid var(--platinum-gray);
    border-bottom: 1px solid var(--platinum-gray);

    position: relative;

    > :global(.photo) {
      aspect-ratio: 1/1;
      width: var(--px-128);
      height: auto;
      background-color: var(--platinum-gray);

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 200px;
    }

    > :global(.text) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: var(--px-8);

      > h2 {
        line-height: 1;
        font-size: var(--fs-9);
        font-weight: 600;
        color: var(--platinum-gray);
      }

      > span {
        line-height: 1.5;
        font-size: var(--fs-6);
        font-weight: 400;
        color: var(--gray-300);
      }
    }

    > button {
      position: absolute;
      right: var(--px-16);
      top: 50%;
      transform: translateY(-50%);

      padding: var(--px-8);
      border-radius: var(--px-8);
      background-color: var(--btn-danger);

      font-size: var(--fs-10);
      color: var(--platinum-gray);
      cursor: pointer;
    }
    > button:hover {
      background-color: var(--signal-orange);
    }
  }

  .navbar {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--px-16);
    overflow: hidden;
    z-index: 1001;

    a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--px-16);

      padding: var(--px-16);
      border-radius: var(--px-16);
      border-bottom: 2px solid var(--steel-blue);
      background-color: var(--platinum-gray);

      font-size: var(--fs-6);
      font-weight: 600;
      color: var(--midnight-blue);

      cursor: pointer;
    }
    a:hover {
      background-color: var(--signal-orange);
    }
    a:active {
      transform: scale(0.9);
    }
  }
  .navbar:not(:global(.open)) {
    height: 0;
    animation: closeMenu 0.3s forwards;
  }
}
.header:has(:global(.open).navbar),
.header.scrolled {
  background-color: var(--midnight-blue);
}

@keyframes closeMenu {
  0%,
  99% {
    position: sticky;
  }
  100% {
    position: fixed;
  }
}

.footer {
  width: 100%;

  border-top: 1px solid var(--platinum-gray);
  padding: var(--px-16);

  text-align: center;
  text-shadow: 2px 1px 8px var(--gray-700);
  font-size: var(--fs-5);
  font-weight: 500;
  color: var(--midnight-blue);

  span {
    color: var(--signal-orange);
  }
}

@media screen and (min-width: 768px) {
  .header {
    align-items: center;

    .navbar {
      flex: 1;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: static !important;

      a {
        width: fit-content;
        gap: var(--px-4);

        padding: var(--px-4);
        border-radius: var(--px-8);
        border: none;
        background-color: transparent;

        font-size: var(--fs-4);
        text-wrap: nowrap;
        color: var(--platinum-gray);
      }
    }
    .navbar:not(:global(.open)) {
      height: fit-content;
    }

    .profile {
      width: fit-content;
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: var(--px-8);

      padding: 0;
      border: none;

      position: relative;

      > :global(.photo) {
        width: var(--px-64);
        font-size: var(--fs-3);
      }

      > :global(.text) {
        width: fit-content;
        align-items: flex-end;
        gap: var(--px-8);

        > h2 {
          font-size: var(--fs-5);
        }

        > span {
          font-size: var(--fs-3);
          text-wrap: nowrap;
        }
      }

      > button {
        position: absolute;
        right: var(--px-16);
        top: 50%;
        transform: translateY(-50%);

        padding: var(--px-8);
        border-radius: var(--px-8);
        background-color: var(--btn-danger);

        font-size: var(--fs-10);
        color: var(--platinum-gray);
        cursor: pointer;

        display: none;
      }
      > button:hover {
        background-color: var(--signal-orange);
      }
    }
  }
}
